html {
    background-color: black;
}

body {
   margin: auto; 
   flex-direction: column;
   background-color: white;
   width: 70%;
}

.jumbotron {
    background-color: white;
}

.jumboText {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
}

.addBurger {
    text-align: center;
    align-items: center;
}

.freshBurger {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    background-color: #1db834de;
}

.freshBurger:hover {
    background-color: #81ff94;
}

.addBurgerBtn:hover {
    background-color: #81ff94;
}

#name {
    background-color: #f0f7fb;
    background-image: url(../img/patty.jfif);
    background-repeat: no-repeat;
    line-height: 15px;
    overflow: hidden;
    padding: 10px 30px;
    color: white;
}

::placeholder {
    text-align: center;
    color: white;
	text-shadow: -1px 1px 0 #000,
                                1px 1px 0 #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;
}

.devouredBurger {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    background-color: #9e201cb4;
}


.addBurgerBtn {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    background-color:#1db834de;
}

.addBurgerBtn:active {
   background-color: #9e201cb4;
}